{% extends 'base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock %}

{% block left_menu %}
<a href="{% url 'dashboard' %}" class="active">Relatório de Aprovações</a>
<a href="#">Relatório de Desempenho</a>
<a href="#">Exportar Relatórios</a>
{% endblock %}

{% block content %}
<!-- Título e Subtítulo -->
<div class="report-header">
    <h3 class="report-subtitle">Relatório de</h3>
    <h1 class="report-title">Aprovações</h1>
    <p class="report-description">Selecione qual universidade deseja verificar os índices de aprovação</p>
</div>

<!-- UNIVERSIDADES -->
<div class="field-group">
    <div class="field">ACAFE</div>
    <div class="field">UFRGS</div>
    <div class="field">UFCSPA</div>
    <div class="field active">UDESC</div>
    <div class="field">UFSC</div>
    <div class="field">UFSM</div>
    <div class="field">PUCRS</div>
    <div class="field">UNISINOS</div>
    <div class="field">UFPR</div>
    <div class="field">UFPEL</div>
</div>

<!-- CARD-->
<div class="cards">
    <div class="card">
        <div class="card-icon" style="background: #E0E0E0;">
            <img src="{% static 'img/icon.png' %}" alt="Inscritos">
        </div>
        <p class="card-number">870</p>
        <p class="card-title">Total Inscritos</p>
        <p class="card-detail">+85 em 2024</p>
    </div>
    <div class="card" style="background: #D8FBF8;">
        <div class="card-icon" style="background: #20A09F;">
            <img src="{% static 'img/new-customers-icon.png' %}" alt="Aprovados">
        </div>
        <p class="card-number">220</p>
        <p class="card-title">Aprovados</p>
        <p class="card-detail">+20 em 2024</p>
    </div>
    <div class="card" style="background: #E6F3FF;">
        <div class="card-icon" style="background: #003479;">
            <img src="{% static 'img/order-icon.png' %}" alt="Lista de Inscritos">
        </div>
        <p class="card-number">62</p>
        <p class="card-title">Lista de espera</p>
        <p class="card-detail">+5 em 2024</p>
    </div>
    <div class="card">
        <div class="card-icon" style="background: #E0E0E0;">
            <img src="{% static 'img/graduation-cap.png' %}" alt="Cursos">
        </div>
        <p class="card-number">18</p>
        <p class="card-title">Cursos</p>
        <p class="card-detail">+4 em 2024</p>
    </div>
</div>

<!-- Gráfico de Histórico de Aprovações -->
<div class="chart-container">
    <h3 class="chart-title">Histórico de aprovações</h3>
    <p class="chart-description">
        <span style="color: #00A19A;">(+20)</span> mais do que 2023
    </p>
    <canvas id="approvalChart"></canvas>
</div>


<!-- Tabela de aprovação dos cursos -->
<div class="chart-container">
    <h3 class="chart-title">Aprovação dos cursos</h3>
    <p class="chart-description">
        <span style="color: #00A19A;">TOP +4</span> em aprovação
    </p>
    <div class="box approved-list">
        <table>
            <thead>
                <tr style="text-align: left; color: #c4c4c4">
                    <th>#</th>
                    <th>Curso</th>
                    <th>Aprovação</th>
                    <th>Média Corte</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01</td>
                    <td>Medicina</td>
                    <td>
                        <div class="progress1"></div>
                    </td>
                    <td>72,5</td>
                </tr>
                <tr>
                    <td>02</td>
                    <td>TADS</td>
                    <td>
                        <div class="progress2"></div>
                    </td>
                    <td>62,5</td>
                </tr>
                <tr>
                    <td>03</td>
                    <td>Engenharia Mecânica</td>
                    <td>
                        <div class="progress3"></div>
                    </td>
                    <td>50,2</td>
                </tr>
                <tr>
                    <td>04</td>
                    <td>Administração</td>
                    <td>
                        <div class="progress4"></div>
                    </td>
                    <td>40,2</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="dual-box-container">
    <!-- Box Melhores Disciplinas -->
    <div class="box best-disciplines">
        <h3>Melhores disciplinas</h3>
        <p>TOP Notas em 2024</p>
        <img src="{% static 'img/stats.png' %}" alt="estatísticas" class="stats"
            style="height: 100%;width: 200px;">

    </div>

    <!-- Box Listão de Aprovados -->
    <div class="box approved-list">
        <h3>Listão de aprovados</h3>
        <p><span>2024</span> vestibular 2</p>
        <table>
            <thead>
                <tr>
                    <th>Vestibulando</th>
                    <th>Curso</th>
                    <th>Nota</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ana Souza</td>
                    <td>TADS</td>
                    <td>98,2</td>
                </tr>
                <tr>
                    <td>Gabriel Silva</td>
                    <td>Medicina</td>
                    <td>98,0</td>
                </tr>
                <tr>
                    <td>Lucas Pereira</td>
                    <td>Eng. Civil</td>
                    <td>97,8</td>
                </tr>
                <tr>
                    <td>Mariana Costa</td>
                    <td>TADS</td>
                    <td>97,7</td>
                </tr>
                <tr>
                    <td>João Oliveira</td>
                    <td>Geografia</td>
                    <td>95,0</td>
                </tr>
                <tr>
                    <td>Beatriz Almeida</td>
                    <td>História</td>
                    <td>94,2</td>
                </tr>
                <tr>
                    <td>Rafael Santos</td>
                    <td>Química</td>
                    <td>92,1</td>
                </tr>
                <tr>
                    <td>Larissa Lima</td>
                    <td>Medicina</td>
                    <td>85,9</td>
                </tr>
                <tr>
                    <td>Pedro Martins</td>
                    <td>TADS</td>
                    <td>85,9</td>
                </tr>
                <tr>
                    <td>Julia Rocha</td>
                    <td>Medicina</td>
                    <td>82,7</td>
                </tr>
                <tr>
                    <td>Carlos Fernandes</td>
                    <td>Medicina</td>
                    <td>82,6</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}